body {
	background-image: url("sky_faded.jpg");
	background-size: cover;
	/*opacity: 0.4;*/
	/*background: rgba(60, 200, 240, 1);*/
	transition: 4s;
}

#main {
	padding-top: 50px;
	margin-bottom: 50px;
}

.heading {
	text-align: center;
	color: white;
	letter-spacing: 1.5;
}

h1 {
	font-size: 60px;
    text-shadow: 0 0 4px white;
}

h3 {
	font-size: 36px;
    text-shadow: 0 0 2px white;
}

#generate {
	display: block;
	margin: 50px auto 50px auto;
}


