<% include ../partials/header %>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '337279429974679',
      xfbml      : true,
      version    : 'v2.8'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div class="container" id="main">
    <div class="container" id="fbButtons">
        <div
          class="fb-like"
          data-share="true"
          data-width="450"
          data-show-faces="true">
        </div>
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" id="fbLogin">
        </fb:login-button>
        <div id="status">
        </div>
    </div>
    <div id="header">
        <h1 class="heading"><strong>97% Organic Horoscope Generation</strong></h1>
        <h3 class="heading"><strong>For the Avid Stars-Knowing Believer</strong></h3>
    </div>
    <div class="container" id="input">
        <h3 class="warning" id="error-message"></h3>
        <form id="HoroscopeForm" onsubmit="horoscope.processHoroscopeForm()">
          <div class="form-group">
            <input type="text" class="form-control" id="userName" name="name" placeholder="Name?">
            <input type="text" class="form-control" id="hometown" name="hometown" placeholder="Hometown?">
            <input type="date" class="form-control" id="birthday" name="birthday" placeholder="Birthday?">
          </div>
        </form>
        <button class="btn btn-lg btn-warning link" id="generate">Generate Sentence!</button>
        <a id="newPage-link" class="btn btn-warning btn-lg link" href="/horoscopes">Back to home!</a>
    </div>
    <div id="content-box">
        <h3 class="heading" id="content"><strong></strong></h3>
    </div>


</div>
<% include ../partials/footer %>
