<% include ../partials/header %>
<div class="container" id="main">
    <div id="header">
        <h1 class="heading"><strong>97% Organic Horoscope Generation</strong></h1>
        <h3 class="heading"><strong>For the Avid Stars-Knowing Believer</strong></h3>
    </div>
    <div class="container" id="input">
        <h3 class="warning" id="error-message"></h3>
        <form id="HoroscopeForm" onsubmit="horoscope.processHoroscopeForm()">
          <div class="form-group">
            <input type="text" class="form-control" id="userName" name="name" placeholder="Name?">
            <input type="text" class="form-control" id="hometown" name="hometown" placeholder="Hometown?">
            <input type="date" class="form-control" id="birthday" name="birthday" placeholder="Birthday?">
          </div>
        </form>
        <button class="btn btn-lg btn-warning" id="generate">Generate Sentence!</button>
        <a id="newPage-link" class="btn btn-warning btn-lg" href="/horoscopes">Back to home!</a>
    </div>
    <div id="content-box">
        <h3 class="heading" id="content"><strong></strong></h3>
    </div>
</div>
<% include ../partials/footer %>
