<% include ../partials/header %>
<div class="container" id="main">
    <div id="header">
        <h1 class="heading"><strong>97% Organic Horoscope Generation</strong></h1>
        <h3 class="heading"><strong>For the Avid Stars-Knowing Believer</strong></h3>
    </div>
    <div id="header">
        <h3 class="heading"><%= horoscope.text %></h3>
    </div>
    <a id="link" class="btn btn-warning btn-lg" href="/horoscopes">Back to home!</a>
</div>
<% include ../partials/footer %>
