<html>
<head>
    <title>Sentence Generation</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <div class="container" id="main">
        <div id="awesome">
            <h1 class="heading"><strong>97% Organic Horoscope Generation</strong></h1>
            <h3 class="heading"><strong>For the Avid Stars-Knowing Believer</strong></h3>
        </div>
        <button class="btn btn-lg btn-danger" id="generate">Generate Sentence!</button>
        <h3 class="heading" id="sentence"><strong></strong></h3>
    </div>
    <script src="/js/grammars.js" type="text/javascript"></script>
    <!-- <script src="/js/style-animations.js" type="text/javascript"></script> -->
</body>
</html>