<% include ./partials/header %>
<!-- <canvas id="constellation_canvas" data-processing-sources="/js/constellations.js"></canvas> -->
<div class="container" id="main">
    <div id="header">
        <h1 class="heading"><strong>97% Organic Horoscope Generation</strong></h1>
        <h3 class="heading"><strong>For the Avid Stars-Knowing Believer</strong></h3>
        <a class="btn btn-warning btn-lg link" href="/horoscopes/new">Find your density!!</a>
        <h4 class="heading"><strong><%=horoscopeCount%> destinies foretold!!!! Join the movement!</strong></h4>
    </div>
</div>
<% include ./partials/footer %>
