    <script src="https://cdnjs.cloudflare.com/ajax/libs/async/1.5.2/async.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
    <script src="/js/jquery-1.12.3.min.js" type="text/javascript"></script>
    <script src="/js/moment.min.js" type="text/javascript"></script>
    <script src="/js/sentenceGenerator.js" type="text/javascript"></script>
</body>
</html>
